<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
</head>

<body>
    <h1>To do list</h1>
    <div>
        
          <% for( let index = 0; index < htmlItems.length; index++ ) { %>
        <li> <%=  htmlItems[index] %> </li>
          <% }; %>
           
        <form action="/" method="post">
        <input type="text" name="input" >
        <input type="submit" value="submit">

</form>

    </div>
    <!-- <script src="app.js"></script> -->
</body>

</html>