<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
    <!-- 15th line of app.js is used to serve up a public folder which contain styles.css  -->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="box" id="heading">
<h1>To do list</h1>
    </div>
    
    <div class="box">
      

        <% for( let index = 0; index < htmlItems.length; index++ ) { %>
            <div class="item">
        <input type="checkbox" name="" id="">
          <p>   <%=  htmlItems[index] %> </p>
            </div>
        <% }; %>

        <form class="item" action="/" method="post">
            <input type="text" name="input">
            <button type="submit">+</button>
            <button type="reset" name="removeinput" style="margin-left: 4px;">-</button>

        </form>
        </div>
</body>

</html>